@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --rojo: #E10717;
    --grismedio: #646464;
    --grisoscuro: #393536;
    --grisclaro: #CACACA;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #fff;
    padding: 10px;
    max-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content img{
    max-width: 100%;
    max-height: 100%;
}

.close {
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.boton_flotante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.boton_flotante img{
    height: 50px;
    margin-bottom: -5px;
    padding: 5px;
}

.whatsapp {
    border-radius: 100px;
    background-color: #25D366;
    margin: 0px 25px 10px 0px;
}

.facebook {
    border-radius: 100px;
    background-color: #3b5998;
    margin: 0px 25px 10px 0px;
}

.instagram {
    border-radius: 100px;
    background-color: #9E37B8;
    margin: 0px 25px 10px 0px;
}

.linkedin {
    border-radius: 100px;
    background-color: #0073b1;
    margin: 0px 25px 220px 0px;
}

.whatsapp:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: transform 1s;
}

.facebook:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: transform 1s;
}

.instagram:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: transform 1s;
}

.linkedin:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: transform 1s;
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
}

.encabezado img {
    max-height: 100%;
    padding: 15px;
}

.carrusel_publicidad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.carrusel_publicidad img {
    width: 100%;
    height: auto;
    display: none;
}

.carrusel_publicidad img:first-child {
    display: block;
}

.carrusel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.carrusel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev {
    left: 30px;
}

.carrusel-next {
    right: 30px;
}

.cursor_clic {
    cursor: pointer;
}

/* Patrocinadores */

.carousel-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 40px;
}

.carousel-container h2 {
    font-weight: 400;
}

.carousel {
    width: 80%; 
    display: flex;
    max-height: 250px; 
    overflow: hidden;
}

.slide {
    flex: 0 0 25%;
    height: 150px;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.arrow {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 0 10px;
    user-select: none;
    transition: background-color 0.3s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.navigation {
    display: flex;
}

.tarjetas-dias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.card {
    width: 0;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
}

.left {
    color: #fff;
}

.left:hover {
    background-color: var(--rojo);
    transform: scale(1.03);
    transition: transform 1s;
}

.right {
    background-image: url("https://fise.co/wp-content/uploads/2020/06/fisetalks.jpg");
    color: #fff;
}

.right:hover {
    transform: scale(1.03);
    transition: transform 1s;
}

.card-content {
    width: 100%;
    padding: 15px 0 px;
    text-align: center;
}

.cierre {
    background-image: url("/img/Cierre.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.charla {
    background-image: url("/img/Charla.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ina {
    background-image: url("/img/Inauguraci贸n.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.columna1_sectores h6{
    color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
}

.columna1_sectores h1 {
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

.triptico_diptico {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: left;
    gap: 50px;
    margin-top: -10px;
}

.triptico_diptico button {
    width: 50%;
    background-color: var(--grismedio);
    color: white;
    padding: 5px;
    border: none;
}

.triptico_diptico button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 1s;
}

.brochure {
    width: 100%;
    border: none;
    background-color: white;
    color: var(--rojo);
    font-weight: 600;
    padding: 10px;
}

.brochure:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 1s;
}

.card i {
    font-size: 24px;
}

.card-content h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 8px 0px;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    color: var(--grisoscuro);
}

.card-content h3 {
    margin-top: 20px;
    font-size: 18px;
    margin: 5px 0;
}

.card-content p {
    font-size: 14px;
    margin: 5px 0;
    padding: 0px 15px;
}

.card.left {
    animation: slideFromLeft 0.5s both;
}

.card.right {
    animation: slideFromRight 0.5s both;
}

@keyframes slideFromLeft {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

@keyframes slideFromRight {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

.Sectores {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-direction: row;
    padding: 10px 100px;
    gap: 100px;
}

.columna1_sectores {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

}

.columna1_sectores h6{
    color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
}

.columna1_sectores h1 {
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

.triptico_diptico {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: left;
    gap: 50px;
    margin-top: -10px;
}

.triptico_diptico button {
    width: 50%;
    background-color: var(--grismedio);
    color: white;
    padding: 5px;
    border: none;
}

.triptico_diptico button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 1s;
}

.brochure {
    width: 100%;
    border: none;
    background-color: white;
    color: var(--rojo);
    font-weight: 600;
    padding: 10px;
}

.brochure:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 1s;
}

.columna2_sectores {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item_sector {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.item_sector img{
    width: 250px;
}

.item_sector img:hover{
    transform: scale(1.02);
    transition: transform 1s;
}

.item_sector p{
    font-size: 13px;
    color: white;
}

.formulario {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px 100px;
}

/*Footer*/

footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--rojo);
}

.sec_final {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
    gap: 34px;
}

.sec_final h2{
    font-weight: 500;
}

.footer_descrip{
    width: 50%;
    margin-right: 70px;
}

.footer_descrip img{
    height: 30px;
}

.footer_descrip p{
    line-height: 20px;
    color: white;
    margin-top: 10px;
}

.redesfooter {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 20px;
}

.redesfooter a{
    text-decoration: none;
    color: white;
}

.asesor_med {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 100px;
    height: 650px;
    gap: 50px;
}

.asesor_med img{
    max-height: 550px;
}

.col2_asesor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col2_asesor h1 {
    color: var(--rojo);
    text-align: center;
    font-size: 3.5vw;
}

.col2_asesor p {
    text-align: center;
}

.grid-container_beneficios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 20px 20px 20px 40px;
}

.grid-item_beneficios {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.grid-item_beneficios img {
    background-color: var(--rojo);
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

.col2_asesor button {
    width: 100%;
    background-color: var(--grisoscuro);
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 50px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

.col2_asesor button:hover{
    transform: scale(1.1);
    transition: transform 1.5s;
    cursor: pointer;

}

.representaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 30px;
    padding: 50px 0px 130px 0px;
}

.representaciones img {
    height: 200px;
}

.representaciones_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    margin: 40px 0px 20px 0px;
    font-weight: 400;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    footer {
        height: auto;
    }
    .sec_final {
        text-align: center;
        flex-direction: column;
        padding: 50px 50px;
    }
    .footer_descrip{
        margin-right: 0px;
        width: 100%;
    }
    .modal-content {
        width: 90%;
        max-width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .carrusel_publicidad {
        height: 350px;
    }
    .slide {
        flex: 0 0 50%; /* Muestra 2 logos a la vez en dispositivos m贸viles */
    }
    .tarjetas-dias {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card {
        width: 100%; /* Tarjetas ocupan el 100% del ancho en dispositivos m贸viles */
        margin: 10px 0;
    }

    .card.left,
    .card.right {
        width: 100%; /* Tarjetas ocupan el 100% del ancho en dispositivos m贸viles */
    }

    .representaciones {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 0px 0px 50px 0px;
    }

    .representaciones_text {
        height: 60px;
        margin: 40px 0px 0px 0px;
        font-weight: 400;
    }

    .Sectores {
        flex-direction: column;
        height: auto;
        width: 100%;
        height: auto;
        padding: 50px 50px;
        gap: 40px;
    }

    .columna2_sectores {
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 30px;
    }

    .asesor_med {
        flex-direction: column-reverse;
        height: auto;
        padding: 50px 20px;
        gap: 50px;
    }

    .asesor_med {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 50px 50px;
        height: auto;
        gap: 50px;
    }
    
    .col1_asesor img {
        width: 400px;
    }
    
    .col2_asesor {
        width: 100%;
    }
    
    .col2_asesor h1 {
        color: var(--rojo);
        text-align: center;
        font-size: 9vw;
        line-height: 40px;
        margin-bottom: 10px;
    }
    
    .col2_asesor p {
        text-align: center;
    }
    
    .grid-container_beneficios {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 10px;
        padding: 20px 20px 20px 40px;
    }
    
    .grid-item_beneficios {
        gap: 20px;
        padding: 5px;
    }
    
    .grid-item_beneficios img {
        width: 50px;
        padding: 5px;
    }

    .col2_asesor button {
        width: 100%;
        font-size: 18px;
        padding: 5px 80px;
    }

    .columna1_sectores {
        width: 100%;
        gap: 25px;
        height: auto;
    }
    
    .columna1_sectores h6{
        color: white;
        font-size: 15px;
        line-height: 20px;
    }
    
    .columna1_sectores h1 {
        color: white;
        font-size: 50px;
        line-height: 50px;
        font-weight: 600;
    }
    
    .triptico_diptico {
        width: 100%;
        gap: 50px;
        margin-top: -10px;
    }
    
    .item_sector {
        width: 100%;
        gap: 20px;
    }
    
    .item_sector p{
        font-size: 13px;
        color: white;
    }

    .col1_asesor img{
        width: 100%;
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 20px 30px;
    }
}

@media (max-width: 480px) {
    .item_sector img{
        width: 210px;
    }

}